# Analisis de datos
## Introducción a Pandas
## Índice:
1. [Extracción de datos](#Extraer-datos:-Restaurant)
2. [Filtrar datos](#Filtrar-datos)
3. [GroupBy](#GroupBy)
4. [Apply](#Apply:-Student-Alcohol-Consumption)
5. [Merge](#Merge:-Housing-Market)
6. [Stats](#Stats:-US---Baby-Names)
7. [Deleting](#Deleting:-Iris)
8. [Bonus](#lab#Bonus:)

<b>Nota:</b>
Esta practica esta basada en los ejercicios de varios recursos online como:

* https://github.com/ajcr/100-pandas-puzzles/blob/master/100-pandas-puzzles.ipynb
* https://www.machinelearningplus.com/python/101-pandas-exercises-python/
* https://www.kaggle.com/learn/pandas
* https://github.com/facuzeta/pandas_exercises
* https://github.com/guipsamora/pandas_exercises

# Extraer datos: Restaurant
Referencias:
* [Read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)
* [Group by](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)
* [dtype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html)

1. Import the necessary libraries

In [1]:
import pandas as pd

2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

3. Assign it to a variable called chipo.

In [5]:
chipo = pd.read_csv(url, sep='\t')

4. See the first 10 entries

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

5. What is the number of observations in the dataset?

In [10]:
chipo.shape[0]

4622

6. What is the number of columns in the dataset?

In [11]:
chipo.shape[1]

5

7. Print the name of all the columns.

In [17]:
for c in chipo.columns:
    print(c)

order_id
quantity
item_name
choice_description
item_price

9. Which was the most-ordered item?

In [18]:
chipo['item_name'].value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

10. For the most-ordered item, how many items were ordered?

In [21]:
chipo['item_name'].value_counts().max()

726

11. What was the most ordered item in the choice_description column?

In [28]:
chipo['choice_description'].value_counts()

[Diet Coke]                                                                                                                                      134
[Coke]                                                                                                                                           123
[Sprite]                                                                                                                                          77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                            42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                 40
                                                                                                                                                ...
[Fresh Tomato Salsa (Mild), [Pinto Beans, Black Beans, Rice, Cheese, Sour Cream, Lettuce]]                                                         1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Cheese, Sour Cream, Lettuce]]      1
[Fresh Tomato (Mild), [Guacamole, Rice, Black Beans]]                                                                                              1
[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Lettuce]]                                    1
[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]                                                                   1
Name: choice_description, Length: 1043, dtype: int64

12. How many items were orderd in total?

In [43]:
chipo['quantity'].sum()

4972

13. Turn the item price into a float

In [56]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

<ipython-input-56-8562d8cb4874>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

In [57]:
chipo['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

13.a. Check the item price type

In [60]:
type(chipo['item_price'][1])

numpy.float64

13.b. Change the type of the column into a float

13.c. Check the item price type

In [61]:
chipo['item_price'].dtype

dtype('float64')

14. How much was the revenue for the period in the dataset?

In [65]:
df['subtotal'] = chipo['item_price']*chipo['quantity']

In [67]:
df['subtotal'].sum()

39237.02

15. How many orders were made in the period?

In [95]:
print(chipo['order_id'].nunique())

1834

16. What is the average revenue amount per order?

In [83]:
chipo.groupby('order_id').mean()

          quantity  item_price
order_id
1              1.0    2.890000
2              2.0   16.980000
3              1.0    6.335000
4              1.0   10.500000
5              1.0    6.850000
...            ...         ...
1830           1.0   11.500000
1831           1.0    4.300000
1832           1.0    6.600000
1833           1.0   11.750000
1834           1.0    9.583333

[1834 rows x 2 columns]

17. How many different items are sold?

In [98]:
chipo['item_name'].nunique()

50

18. How many products cost more than $10.00?

In [94]:
len(chipo[chipo['item_price'] > 10])

1130

# Filtrar datos
Referencias:
* [Reset Index](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html)
* [Sort values](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html?highlight=sort_values#pandas.DataFrame.sort_values)

19. What is the price of each item? 
> print a data frame with only two columns item_name and item_price

In [131]:
df_filtered = chipo[['item_name', 'item_price']]
df_filtered['item_name'] = df_filtered['item_name'].str.replace('-','')
df_pricelist = df_filtered.groupby('item_name').mean()

<ipython-input-131-6f164ff48038>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['item_name'] = df_filtered['item_name'].str.replace('-','')

20. Sort by the name of the item

In [138]:
df_pricelist.sort_values(['item_name'])

                                       item_price
item_name
6 Pack Soft Drink                        6.610185
Barbacoa Bowl                           10.187273
Barbacoa Burrito                         9.832418
Barbacoa Crispy Tacos                   10.928182
Barbacoa Salad Bowl                     10.640000
Barbacoa Soft Tacos                     10.018400
Bottled Water                            1.867654
Bowl                                    14.800000
Burrito                                  7.400000
Canned Soda                              1.320577
Canned Soft Drink                        1.457641
Carnitas Bowl                           10.833971
Carnitas Burrito                        10.132712
Carnitas Crispy Tacos                   11.137143
Carnitas Salad                           8.990000
Carnitas Salad Bowl                     11.056667
Carnitas Soft Tacos                      9.398500
Chicken Bowl                            10.113953
Chicken Burrito                         10.082857
Chicken Crispy Tacos                    10.045319
Chicken Salad                            9.010000
Chicken Salad Bowl                      11.170455
Chicken Soft Tacos                       9.635565
Chips                                    2.342844
Chips and Fresh Tomato Salsa             3.285091
Chips and Guacamole                      4.595073
Chips and Mild Fresh Tomato Salsa        3.000000
Chips and Roasted Chili Corn Salsa       3.084091
Chips and Roasted ChiliCorn Salsa        2.390000
Chips and Tomatillo Green Chili Salsa    3.087209
Chips and Tomatillo Red Chili Salsa      3.072917
Chips and TomatilloGreen Chili Salsa     2.544194
Chips and TomatilloRed Chili Salsa       2.987500
Crispy Tacos                             7.400000
Izze                                     3.390000
Nantucket Nectar                         3.641111
Salad                                    7.400000
Side of Chips                            1.840594
Steak Bowl                              10.711801
Steak Burrito                           10.465842
Steak Crispy Tacos                      10.209714
Steak Salad                              8.915000
Steak Salad Bowl                        11.847931
Steak Soft Tacos                         9.746364
Veggie Bowl                             10.211647
Veggie Burrito                           9.839684
Veggie Crispy Tacos                      8.490000
Veggie Salad                             8.490000
Veggie Salad Bowl                       10.138889
Veggie Soft Tacos                       10.565714

21. What was the quantity of the most expensive item ordered?

In [140]:
df_pricelist['item_price'].max()

14.8

22. How many times was a Veggie Salad Bowl ordered?

In [149]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl'].value_counts

<bound method DataFrame.value_counts of       order_id  quantity          item_name  \
186         83         1  Veggie Salad Bowl
295        128         1  Veggie Salad Bowl
455        195         1  Veggie Salad Bowl
496        207         1  Veggie Salad Bowl
960        394         1  Veggie Salad Bowl
1316       536         1  Veggie Salad Bowl
1884       760         1  Veggie Salad Bowl
2156       869         1  Veggie Salad Bowl
2223       896         1  Veggie Salad Bowl
2269       913         1  Veggie Salad Bowl
2683      1066         1  Veggie Salad Bowl
3223      1289         1  Veggie Salad Bowl
3293      1321         1  Veggie Salad Bowl
4109      1646         1  Veggie Salad Bowl
4201      1677         1  Veggie Salad Bowl
4261      1700         1  Veggie Salad Bowl
4541      1805         1  Veggie Salad Bowl
4573      1818         1  Veggie Salad Bowl

                                     choice_description  item_price
186   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
295   [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...       11.25
455   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
496   [Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...       11.25
960   [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
1316  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...        8.75
1884  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
2156  [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.25
2223      [Roasted Chili Corn Salsa, Fajita Vegetables]        8.75
2269  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...        8.75
2683  [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
3223  [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.25
3293  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...        8.75
4109  [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.25
4201  [Fresh Tomato Salsa, [Fajita Vegetables, Black...       11.25
4261  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
4541  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...        8.75
4573  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75  >

23. How many times did someone order more than one Canned Soda?

In [158]:
chipo[(chipo['item_name']=='Canned Soda') & (chipo['quantity'] > 1)]

      order_id  quantity    item_name choice_description  item_price
18           9         2  Canned Soda           [Sprite]        2.18
51          23         2  Canned Soda     [Mountain Dew]        2.18
162         73         2  Canned Soda        [Diet Coke]        2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18
350        150         2  Canned Soda        [Diet Coke]        2.18
352        151         2  Canned Soda        [Coca Cola]        2.18
698        287         2  Canned Soda        [Coca Cola]        2.18
700        288         2  Canned Soda        [Coca Cola]        2.18
909        376         2  Canned Soda     [Mountain Dew]        2.18
1091       450         2  Canned Soda       [Dr. Pepper]        2.18
1092       450         2  Canned Soda        [Coca Cola]        2.18
1944       787         2  Canned Soda       [Dr. Pepper]        2.18
2135       859         2  Canned Soda        [Diet Coke]        2.18
2235       901         4  Canned Soda           [Sprite]        4.36
2905      1156         2  Canned Soda        [Coca Cola]        2.18
2906      1156         2  Canned Soda           [Sprite]        2.18
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18
3364      1349         2  Canned Soda        [Coca Cola]        2.18
3592      1440         2  Canned Soda        [Diet Coke]        2.18
3866      1550         2  Canned Soda     [Mountain Dew]        2.18

# GroupBy

Referencias:
* [Describe](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html)

GroupBy can be summarized as Split-Apply-Combine. Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)

24. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [160]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'

25. Assign it to a variable called drinks.

In [161]:
drinks = pd.read_csv(url, sep=',')

26. Which continent drinks more beer on average?

In [212]:
drinks.groupby('continent').mean()['beer_servings'].idxmax()

'EU'

27. Print the mean alcohol consumption per continent for every column

In [175]:
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

28. Print the median alcohol consumption per continent for every column

In [199]:
drinks.groupby('continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

29. Print the mean, min and max values for spirit consumption.

In [191]:
print("Mean {}, Min {}, Max {}".format(drinks['spirit_servings'].mean(),
                                       drinks['spirit_servings'].min(), 
                                       drinks['spirit_servings'].max()))

Mean 80.99481865284974, Min 0, Max 438

# Apply: Student Alcohol Consumption
Referencias:
* [apply](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.apply.html?highlight=apply#pandas.core.groupby.GroupBy.apply)

30. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

31. Assign it to a variable called df.

32. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

33. Create a function that will capitalize strings.

34. Capitalize both Mjob and Fjob

35. Print the last elements of the data set.

36. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

# Merge: Housing Market
Referencias:
* [randint](https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.randint.html)

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

37. Import the necessary libraries

38. Create 3 differents Series, each of length 100, as follows: 
<br>
    The first a random number from 1 to 4 
    <br>
    The second a random number from 1 to 3
    <br>
    The third a random number from 10,000 to 30,000

39. Let's create a DataFrame by joinning the Series by column

40. Change the name of the columns to bedrs, bathrs, price_sqr_meter

41. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

42. Oops, it seems it is going only until index 99. Is it true?

43. Reindex the DataFrame so it goes from 0 to 299

# Stats: US - Baby Names

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014

44. Import the dataset from this [address](https://facuzeta.github.io/udesa/01_programacion/guias/datasets/US_Baby_Names_right.csv.zip).

In [213]:
baby_names = pd.read_csv('

ModuleNotFoundError: No module named 'StringIO'

45. Assign it to a variable called baby_names.

46. See the first 10 entries

47. Delete the column 'Unnamed: 0' and 'Id'

48. Is there more male or female names in the dataset?

49. Group the dataset by name and assign to names

50. How many different names exist in the dataset?

51. What is the name with most occurrences?

52. How many different names have the least occurrences?

53. What is the median name occurrence?

54. What is the standard deviation of names?

55. Get a summary with the mean, min, max, std and quartiles.

# Deleting: Iris
Referencias:
* [fillna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)

56. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

57. Assign it to a variable called iris

58. Create columns for the dataset

In [ ]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

59.  Is there any missing value in the dataframe?

60.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

61. Good, now lets substitute the NaN values to 1.0

62. Now let's delete the column class

63.  Set the first 3 rows as NaN

64.  Delete the rows that have NaN

65. Reset the index so it begins with 0 again

# Bonus:
Si quiere mas ejercicios visitar:
* https://github.com/ajcr/100-pandas-puzzles/blob/master/100-pandas-puzzles.ipynb
* https://www.machinelearningplus.com/python/101-pandas-exercises-python/

## Extra

In [150]:
dfhbr = pd.read_csv('hbr2.csv', sep=',')

In [151]:
dfhbr.head()

,Satellite,ground_station,AOS,LOS,host,radio_backend,antenna_id,Grafana,downloaded_MB,max_elevation,...,bitrate_mbps_max,bitrate_mbps_mean,hbr_time_usage_percentage,hbr_queue_bytes,status,hour,date,month,delta_current,delta_SNR
0,newsat10,SVA_Boulanger,2022-06-24 18:46:21+00:00,2022-06-24 18:57:22+00:00,macro,SATELLOGIC_SG_CFE4,SG221,LINK,952.757500,85.219744,...,105.84,102.680597,11.04,648160900.0,Link on,18,24,6,0.044,1.329851
1,newsat10,Troll_Corsini,2022-06-26 21:39:07+00:00,2022-06-26 21:49:27+00:00,macro,SATELLOGIC_TR_CFE2,TR16,LINK,405.514656,22.016387,...,105.84,11.392500,51.94,40960.0,Link on,21,26,6,0.037,0.054514
2,newsat10,Troll_Corsini,2022-06-26 23:12:07+00:00,2022-06-26 23:23:12+00:00,macro,SATELLOGIC_TR_CFE2,TR15,LINK,176.357600,72.822421,...,105.84,105.840000,1.65,40960.0,Link on,23,26,6,0.032,0.620000
3,newsat10,SVA_Boulanger,2022-06-24 21:53:40+00:00,2022-06-24 22:03:42+00:00,macro,SATELLOGIC_SG_CFE1,SG221,LINK,79.071952,18.612427,...,105.84,70.560000,0.83,40960.0,Link on,21,24,6,0.013,0.066667
4,newsat13,HBK_Goyeneche,2022-06-24 19:44:54+00:00,2022-06-24 19:54:24+00:00,micro,SATELLOGIC_HA_CFE2,HA2,LINK,4457.878500,15.142089,...,105.84,105.649653,62.11,NaN,Link on,19,24,6,0.043,2.611987

In [152]:
dfhbr.columns

Index(['Satellite', 'ground_station', 'AOS', 'LOS', 'host', 'radio_backend',
       'antenna_id', 'Grafana', 'downloaded_MB', 'max_elevation',
       'max_elevation_first_digit', 'temp_C_min', 'temp_C_max', 'temp_C_mean',
       'xbd_output_power_detector_min', 'xbd_output_power_detector_max',
       'xbd_output_power_detector_mean', 'xbd_input_power_min',
       'xbd_input_power_max', 'xbd_input_power_mean', 'xbd_hpa_current_A_min',
       'xbd_hpa_current_A_max', 'xbd_hpa_current_A_mean',
       'symbol_rate_mbd_min', 'symbol_rate_mbd_max', 'symbol_rate_mbd_mean',
       'snr_min', 'snr_max', 'snr_mean', 'dif_snr_rf_level', 'rflevel_min',
       'rflevel_max', 'rflevel_mean', 'bitrate_mbps_min', 'bitrate_mbps_max',
       'bitrate_mbps_mean', 'hbr_time_usage_percentage', 'hbr_queue_bytes',
       'status', 'hour', 'date', 'month', 'delta_current', 'delta_SNR'],
      dtype='object')

In [155]:
dfhbr.groupby('hbr_time_usage_percentage').mean()

,downloaded_MB,max_elevation,max_elevation_first_digit,temp_C_min,temp_C_max,temp_C_mean,xbd_output_power_detector_min,xbd_output_power_detector_max,xbd_output_power_detector_mean,xbd_input_power_min,...,rflevel_mean,bitrate_mbps_min,bitrate_mbps_max,bitrate_mbps_mean,hbr_queue_bytes,hour,date,month,delta_current,delta_SNR
hbr_time_usage_percentage,,,,,,,,,,,,,,,,,,,,,
0.30,25.181408,73.696254,7.0,-7.19,6.84,1.631609,1.325,1.591,1.425475,-12.4,...,-49.502989,105.84,105.84,105.840000,1.403986e+07,11.0,26.0,6.0,0.054,0.000000e+00
0.31,110.674984,27.763331,2.0,1.58,13.27,8.925446,0.992,1.173,1.067568,-14.6,...,-46.466886,105.84,105.84,105.840000,NaN,9.0,26.0,6.0,0.031,5.650000e+00
0.32,67.048572,27.300924,2.0,-5.44,5.09,1.306109,1.315,1.565,1.415832,NaN,...,-61.175684,10.57,10.57,10.570000,1.017856e+07,0.0,27.0,6.0,0.085,1.780000e-15
0.45,98.233192,41.912300,4.0,-8.07,7.13,1.166667,1.113,1.340,1.196180,NaN,...,-47.063470,105.84,105.84,105.840000,0.000000e+00,14.0,27.0,6.0,0.050,3.333333e-01
0.64,104.996712,23.334517,2.0,5.96,16.78,12.657669,1.196,1.449,1.284925,-12.5,...,-60.569424,105.84,105.84,105.840000,1.017856e+07,9.0,25.0,6.0,0.062,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74.71,6444.442100,84.257160,8.0,-8.95,5.09,-0.137118,1.296,1.546,1.375351,-21.8,...,-33.210753,105.84,105.84,105.840000,7.080833e+10,19.0,25.0,6.0,0.020,2.159519e+00
74.96,2283.339260,78.979353,7.0,-6.02,6.84,2.179556,0.790,0.916,0.827734,NaN,...,-36.861945,0.00,105.84,35.732308,1.031861e+10,18.0,25.0,6.0,0.016,1.519872e+00
75.00,6777.282000,69.034119,6.0,-1.64,10.64,6.012951,1.151,1.424,1.238585,-22.3,...,-39.085188,105.84,105.84,105.840000,2.824157e+10,20.0,25.0,6.0,0.020,5.995069e+00
75.35,6803.035600,60.497383,6.0,-1.64,12.11,6.769837,1.140,1.433,1.229980,NaN,...,-39.807347,105.84,105.84,105.840000,NaN,22.0,24.0,6.0,0.025,8.705165e+00
75.74,6825.310700,80.067476,8.0,2.16,14.74,9.899532,0.898,1.079,0.953482,-24.4,...,-45.088391,105.84,105.84,105.840000,1.117064e+10,14.0,25.0,6.0,0.014,4.378601e+00

In [154]:
dfhbr.groupby('snr

SyntaxError: EOL while scanning string literal (<ipython-input-154-eca828168da5>, line 1)